.calculator {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 30px 41px 60px 33px;
  height: 278px;
  width: 234px;
  background: #6d686f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
