/* normalize */
input {
  padding: 0;
}

.display {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: right;
  font-family: Helvetica, Arial, sans-serif;
  padding: 12px 17px;
  color: #ffffff;
  white-space: nowrap;
  overflow-x: hidden;
  direction: rtl;
  max-width: 100%;
}

.buffer {
  overflow-x: hidden;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  text-align: right;
  color: #ffffff;
  direction: ltr;
}

.result {
  direction: ltr;
  font-size: 21px;
  line-height: 24px;
}

.equal::before {
  content: "= ";
}
