* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("./assets/fonts/HelveticaNeueCyr-Thin.eot") format("eot"),
    url("./assets/fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: thin;
  font-style: italic;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  /*   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50; */
  display: flex;
  justify-content: center;
  flex: 1 0;
}
