/* normalize */
button {
  font-family: HelveticaNeue;
  line-height: 21px;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}
button:disabled {
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  filter: none;
}

.number {
  background-color: #d8d8d8;
  transition: filter 120ms ease-in;
}

.number:hover {
  filter: brightness(80%);
  transition: filter 120ms ease-in;
}

.number:active {
  filter: brightness(60%);
  transition: filter 120ms ease-in;
}

.operation {
  background-color: #b15e5e;
  color: #ffffff;
}

.clear {
  font-size: 16px;
}

.zero {
  grid-area: zero;
}
